<nav>
  <ul class="pagination">
    <li
      class = "page-item"
      [appClass] = "{ disabled: currentPage === 0 }"
    >
      <a (click) = "currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <ng-container *appTimes = "images.length; let i = index">
      <li
        class="page-item"
        *ngIf = "checkWindowIndex(i)"
        [appClass] = "{ active: i === currentPage }"
      >
        <a (click) = "currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    
    

    <li
      class = "page-item"
      [appClass] = "{ disabled: currentPage === images.length - 1 }"
    >
      <a (click) = "currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div [ngSwitch]="currentPage" >
  <div *ngSwitchCase="0">
    currentPage is zero
  </div>
  <div *ngSwitchCase="1">
    currentPage is one
  </div>
  <div *ngSwitchCase="2">
    currentPage is two
  </div>
  <div *ngSwitchCase="3">
    currentPage is three
  </div>
  <div *ngSwitchCase="4">
    currentPage is four
  </div>
  <div *ngSwitchDefault>
    who cares about currentPage anyway?
  </div>
</div>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src] ="images[currentPage].url" *appTimes="6"/>
</div>